<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Games...</title>
	<style type="text/css">
	table {
		width: 50%;
		border: 1px solid #eee;
	}
	
	td {
		border-bottom: 1px dashed #999;
		text-align: center;
		font-size: 0.7em;
	}
	th {
		background-color: #000;
		color: #fff;
	}
	tr:hover {
		background-color: #fee;
	 }
	</style>
</head>
<body>
	<h2>Actual games:</h2>
	<table>
		<tr>
			<th>ID</th>
			<th>white player</th>
			<th>black player</th>
			<th>result</th>
		</tr>
	{% for game in games %}
		<tr>
			<td>#{{ game.id }}</td>
			
			<td>
				{% if game.white==username %}
					<input type="button" onclick="this.disabled=true;document.location='/game/{{ game.id }}'" value="{{ game.white }}" />
				{% else %}
					{{ game.white|default('---', true) }}
				{% endif %}
			</td>
			
			<td>
				{% if game.black %}
					{% if game.black==username %}
						<input type="button" onclick="this.disabled=true;document.location='/game/{{ game.id }}'" value="{{ game.black }}" />
					{% else %}
						{{ game.black }}
					{% endif %}
				{% elif game.white!=username %}
					<input type="button" onclick="this.disabled=true;document.location='/enter_game/{{ game.id }}'" value="Play!" />
				{% else %}
					* waiting *
				{% endif %}
			</td>
			<td>{{ game.state }}</td>
		</tr>
	{% endfor %}
	</table>
	
	<h2>Start new game</h2>
		<input type="submit" value="START" name="start" onclick="this.disabled=true;document.location='/create_game/';" />

</body>
</html>
